.venv/
__pycache__/
*.pyc
*.db
node_modules/
dist/
.env
.tmp/
.DS_Store
data/ 
*.db-journal
*.db-wal
*.db-shm
*.mkv
*.mp4
*.avi
*.mov
*.mp3
*.flac
*.m4a
*.wav
*.aac
*.ogg
*.opus
Path/
path/
media/
test-media/
nas-data/
